<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body{
            font-family: "Noto Sans";
        }
        .navlink{
            margin: 0px 7.5px;
            height: 40px;
            line-height: 20px;
        }
        input{
            margin: 15px 0px;
        }
        .titleText{
            font-size: 40px;
            color: #286090;
            margin-left: 20px;
        }
    </style>
</head>
<body style="background-color: #286090; align-items: center">
<div style="display:flex;justify-content:space-between;align-items: center;background-color: #E2E6EA;height: 60px" >
    <div>
        <div class="titleText">OTPGen</div>
    </div>
    <div>
        <a class="navlink btn btn-primary btn-lg" href="/home" role="button">Home</a>
<!--        <a class="navlink btn btn-primary btn-lg" href="/login" role="button">Login</a>-->
        <a class="navlink btn btn-primary btn-lg" href="/register" role="button">Register</a>
    </div>
</div>
<div class="container" xmlns:th="http://www.thymeleaf.org" style="width: 400px; margin: auto; margin-top: 100px; padding: 50px; border-radius: 10px; background-color: white" >
    <form class="form-signin mt-xl-5" method="post" action="/login">
        <h2 class="form-signin-heading">Sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                   autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                   required="">
        </p>

        <div style="margin: 10px 0px;font-size: 16px" th:if="${param.error}" th:text="${param.error}" class="text-danger"></div>

        <div class="row">
            <div class="col-md-3">
                    <button id="submit" class="btn btn-lg btn-primary " type="submit">Sign in</button>
            </div>
            <div class="col-md-3">
                <a href="/register" class="btn btn-lg btn-block dark">Register here</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>