<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style>
    body{
      font-family: "Noto Sans";
    }
    .navlink{
      margin: 0px 7.5px;
      height: 40px;
      line-height: 20px;
    }
    .titleText{
      font-size: 40px;
      color: #286090;
      margin-left: 20px;
    }
    .left{
      display: flex;
      justify-content: left;
    }
    .container{
      color: #286090;
      background-color: #E2E6EA;
      padding: 20px 40px;
      border-radius: 20px;
      margin-top: 60px;
      width: 980px;
    }
  </style>
</head>
<body style="background-color: #286090">
<div style="display:flex;justify-content:space-between;align-items: center;background-color: #E2E6EA;height: 60px" >
  <div class="left">
    <label class="titleText">OTPGen</label>
  </div>
  <div>
    <a class="navlink btn btn-primary btn-lg" th:href="@{'/forum/{id}' (id=${user?.id})}" role="button" th:if="${user!=null}">Forum</a>
    <a class="navlink btn btn-primary btn-lg" th:href="@{'/userDetails/{id}' (id=${user?.id})}" role="button" th:if="${user!=null}" th:text="${user?.name}"></a>
    <a class="navlink btn btn-primary btn-lg" href="/login" role="button" th:if="${user!=null}">Sign out</a>
  </div>
</div>
<div th:if="${user!=null}">
  <div class="container">
    <h2>Create a New Post</h2>
    <form method="post" style="font-size: 20px" th:action="@{'/postForm/{id}' (id=${user?.id})}">
      <div class="form-group mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter post title">
      </div>
      <div class="form-group mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" rows="4" name="content" placeholder="Enter post content" maxlength="254"></textarea>
      </div>
      <button style="color:#E2E6EA" type="submit" class="btn btn-lg btn-primary">Submit</button>
    </form>
  </div>
</div>
</body>
</html>