<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div th:if="${user!=null}">
  <div class="container">
    <h2>Create a New Post</h2>
    <form method="get" style="font-size: 20px" th:action="@{'/home/{id}' (id=${user?.id})}">
      <div class="form-group mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter post title">
      </div>
      <div class="form-group mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" rows="5" placeholder="Enter post content"></textarea>
      </div>
      <!--TODO: da se kreira nov model Post(@ID id, userId, title, content) so klik na kopceto submit se dodava -->
      <!--TODO: nov post od strana na korisnikot pri sto se vrakame na home pageot , kade se prikazani ostanatite postovi -->
      <!--TODO: isto taka koga odime na strana za userDetails pokraj informaciite za korisnikot se prikazuvaat i site postovi koj gi objavil toj korisnik-->
      <button style="color: #286090" type="submit" class="btn btn-secondary">Submit</button>
    </form>
  </div>
</div>
</body>
</html>